<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Semantico</title>
    <style>
        /* Esto es un comentario en css */
    </style>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- Etiqueta header, encabezado del documento -->
    <header>
        <h1>Partidos de primera</h1>
    </header>
    <!-- Etiqueta barra de navegacion -->
    <nav>
        <ul>
            <li>
                <a href="./index.html">Home</a>
            </li>
            <li>
                <a href="./tablas.html">Tablas</a>
            </li>
            <li>
                <a href="./alumno.html">Formulario</a>
            </li>
        </ul>
    </nav>
    <!-- Etiqueta contenido principal -->
    <main>
        <section>
            <h3>Equipos</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel, iure doloremque. Exercitationem, vel iusto consequatur mollitia fugit, perspiciatis sed necessitatibus rerum ullam modi deserunt possimus consequuntur fugiat cum dolore in.</p>
        </section>
    </main>
    <!-- Etiqueta publicidad -->
    <aside>
        <h3 id="eq">Venta de autos</h3>
        <img src="./">
    </aside>
    <!-- Etiqueta articulo, informacion independiente -->
    <article>
        <p class="textoVerde">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus sit corrupti nihil ad accusamus fuga corporis voluptatem aliquam cum? Iure dolorum molestiae aliquid excepturi voluptates architecto voluptatem deserunt earum saepe</p>
    </article>
    <!-- Etiqueta cierre, pie de pagina -->
    <footer>
        <h5 class="textoVerde">Contacto</h5>
        <form action="contacto.html"></form>
        <label for="">Mensaje</label>
        <textarea name="" id="" cols="30" rows="10">

        </textarea>
        <button type="submit">
            Enviar
        </button>
    </footer>
</body>
</html>