<!-- Mi primer html -->
<!-- Estructura basica de un html -->

<!DOCTYPE html> <!-- Avisa que el contenido del doc es de HTML5 -->
<!-- Etiqueta principal -->
<html lang="es"> <!-- Atributo html "lang" que dice el idioma -->
<head> <!-- Etiqueta informativa para el navegador -->
    <meta charset="UTF-8"> <!-- Etiqueta de codificación -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaC#23544 - HTML 1</title> <!-- Etiqueta de título de la pág-->
</head>
<body> <!-- Etiqueta que engloba todo lo que ve el usuario -->

    <button>Hola mundo html !!!</button>
    <!-- h1 es una etiqueta de titulo: principal -->
    <h1>Título principal de la página</h1>
    <h2>Título principal de la página</h2>
    <h3>Título principal de la página</h3>
    <h4>Título principal de la página</h4>
    <h5>Título principal de la página</h5>
    <h6>Título principal de la página</h6>~

    <!--- Etiqueta parrafo -->
    <p>Soy un parrafo</p>

    <!-- Etiqueta links -->
    <a href="https://www.google.com.ar">Ir a Google</a>
    <a href="https://www.twitter.com">Ir a Twitter</a>
    <a href="https://www.facebook.com">Ir a Facebook</a>

    <!-- Etiqueta imagen -->
    <img src="https://pm1.aminoapps.com/8245/865eaa0e8c86c65f60d1932fddad67acd5e7a899r1-720-727v2_uhq.jpg" width="200">

    <!-- Etiquetas comunes de texto -->
    <p><b>Lorem</b> <i>ipsum</i> <mark>dolor</mark>, <sup>sit</sup> 
    <sub>amet</sub> <del>consectetur</del> <u>adipisicing</u> 
    <strong>elit.</strong> Modi, beatae?</p>

    <!-- Etiqueta listas -->
    <!-- Desordenadas -->
    <h3>Ingredientes</h3>
    <ul>
        <!-- Contenido de la lista -->
        <li>Queso</li>
        <li>Salsa</li>
        <li>Harina</li>
    </ul>
    <!-- Ordenadas -->
    <h3>Preparación</h3>
    <ol>
        <li>Paso 1</li>
        <li>Paso 2</li>
        <li>Paso 3</li>
    </ol>
    
</body>
</html>