<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI CV</title>
    <link rel="stylesheet" href="../assets/css/micv2.css">
</head>
<body>
    <header class="mainHeader">
        <img class="mainHeader_img" src="../assets/img/Foto.png">
        <h1 class="mainHeader_title">Luca Gastón Ahumada</h1>
        
    </header>
    <main class="mainCV">
        <section class="mainCV_informacion_left">
            <h2 class="mainCV_informacion_title">Datos personales</h2>
            <ul class="mainCV_informacion_item">
                <li>
                    <span>Nacionalidad: </span><strong>Argentina</strong>
                </li>
                <li>
                    <span>Fecha de nacimiento: </span><strong>03/09/2003</strong>
                </li>
            </ul>
        </section>
        <section class="mainCV_informacion_right">
            <h2 class="mainCV_informacion_title">Datos personales</h2>
            <ul class="mainCV_informacion_item">
                <li>
                    <span>Nacionalidad: </span><strong>Argentina</strong>
                </li>
                <li>
                    <span>Fecha de nacimiento: </span><strong>03/09/2003</strong>
                </li>
            </ul>
        </section>
    </main>
    <footer class="mainCV_footer">
        2023 - Codo a Codo FullStack Java
    </footer>
</body>
</html>