<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/modelo-caja.css">
</head>
<body>
    <div class="divContainer">
        <div class="caja1 divItem">
            1
        </div>
        <div class="caja2 divItem">
            2
        </div>
        <div class="caja3 divItem">
            3
        </div>
    </div>
    <div class="textos">
        <!-- pseudoclases -->
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
        <p>Lorem, ipsum dolor.</p>
    </div>
    <div>
        <a href="http://www.bla.com.ar">Link1</a>
        <a href="http://www.bla.com.">Link12</a>
        <a href="http://www.bla.com.es">Link123</a>
    </div>
    <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit hic eius, animi impedit itaque neque numquam optio repudiandae, sequi quod nostrum doloribus minima laboriosam commodi aspernatur nihil inventore, deleniti ex?</p>
    
</body>
</html>