<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaC#23544 - HTML 2</title>
</head>
<body>

    <h1>Listado de Alumnos</h1>
    <!-- Etiqueta tabla -->
    <table border="1" width="100%"> <!-- Atributo border y width -->
        <thead> <!-- Etiqueta titulo de la tabla -->
            <tr> <!-- Etiqueta fila de la tabla -->
                <th> <!-- Etiqueta columna y cabecera de la tabla -->
                    Nombre
                </th>
                <th>
                    Apellido
                </th>
                <th>
                    DNI
                </th>
                <th>
                    Email
                </th>
                <th>
                    Curso
                </th>
                <th>
                    Among Us Culón
                </th>

            </tr>

        </thead>
        <tbody> <!-- Etiqueta cuerpo de la tabla -->
            <tr align="center"> <!-- Fila 1 -->
                <td>Luca</td>
                <td>Ahumada</td>
                <td><a href="alumno.html">45023156</a></td>
                <td>lucadel2003@yahoo.com.ar</td>
                <td>Full-Stack Java</td>
                <td>
                    <img src="https://pm1.aminoapps.com/8245/865eaa0e8c86c65f60d1932fddad67acd5e7a899r1-720-727v2_uhq.jpg" 
                    width="100">
                </td>
            </tr>
            <tr> <!-- Fila 2 -->

            </tr>
            
        </tbody>
        <tfoot><!-- Etiqueta resumen de la tabla -->
            <tr>
                <td  colspan="5"></td>
                <td>Total: 2</td>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>