<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Variables</title>
    <link rel="stylesheet" href="./css/componentes.css">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="./alumno.html" class="link">Link1</a>
            </li>
            <li>
                <a href="./html-semantico.html" class="link">Link2</a>
            </li>
            <li>
                <a href="./estilos.html" class="link">Link3</a>
            </li>
        </ul>
    </nav>
    <main>
        <button class="btn">
            click me
        </button>
        <button class="btn btn-small">
            click me again
        </button>
        <button class="btn btn-large">
            just click me
        </button>
    </main>
</body>
</html>